<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Just ตาราง</title>

    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel='stylesheet' href='/stylesheets/nav_bar.css' />
</head>

<body>

    <header>
        <a class="logo" href="/">Just ตาราง</a>
        <nav>
            <ul class="nav__links">
                <li><a href="/">หน้าหลัก</a></li>
                <li><a style="color: #0088a9" href="/Classrooms">ห้องเรียน</a></li>
                <li><a href="/Subjects">วิชา</a></li>
                <li><a href="/Teachers">ครู</a></li>
                <li><a href="#">กำหนดข้อมูล</a></li>
                <li><a href="#">จัดตาราง</a></li>
                <li><a href="#">พิมพ์ตาราง</a></li>
            </ul>
        </nav>
        <a class="cta" href="/User/login">เข้าสู่ระบบ</a>
    </header>

    <div class="container" style="margin-top: 50px;">
        <% if (messages.error) { %>
            <div class="alert alert-danger" role="alert">
                <%= messages.error %>
            </div>
            <% } %>

                <% if (messages.success) { %>
                    <div class="alert alert-success" role="alert">
                        <%= messages.success %>
                    </div>
                    <% } %>
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-pills w-100">
                                    <h2 class="nav-link">ห้องเรียน</h2>
                                    <li class="nav-link ml-auto">
                                        <a href="/Classrooms/add" class="nav-link active">เพิ่มห้องเรียน</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <% if(data.length) { %>
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">ID</th>
                                                <th scope="col">ห้องเรียน</th>
                                                <th scope="col">สถาที่ห้องเรียน</th>
                                                <th width="200px"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(let i=0; i < data.length; i++) { %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= data[i].ClassroomID %>
                                                    </th>
                                                    <td>
                                                        <%= data[i].ClassroomName %>
                                                    </td>
                                                    <td>
                                                        <%= data[i].ClassroomCode %>
                                                    </td>
                                                    <td>
                                                        <a href="../Classrooms/edit/<%= data[i].ClassroomID %>"
                                                            class="btn btn-success edit">แก้ไข</a>
                                                        <a href="../Classrooms/delete/<%= data[i].ClassroomID %>"
                                                            class="btn btn-danger delete">ลบ</a>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <% } %>
                                        <% if(!data.length) { %>
                                            <p class="text-center">ไม่พบห้องเรียน !</p>
                                            <% } %>
                            </div>
                        </div>
    </div>

</body>

</html>